<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Nailzbynutz"
        tools:targetApi="31">

        <!-- 1. GERBANG UTAMA: Menjalankan SplashActivity saat aplikasi dibuka -->
        <activity
            android:name=".SplashActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- 2. REGISTRASI SEMUA ACTIVITY INTERNAL (Sesuai Struktur Proyek Proyekmu) -->
        <activity android:name=".LoginActivity" />
        <activity android:name=".SignUpActivity" />
        <activity android:name=".MainNavigationActivity" />
        <activity android:name=".GelPolishActivity" />
        <activity android:name=".ManicureActivity" />
        <activity android:name=".ExploreActivity" />
        <activity android:name=".HistoryActivity" />
        <activity android:name=".ProfileActivity" />
        <activity android:name=".WishlistActivity" />
        <activity android:name=".CustomNailShapeActivity" />
        <activity android:name=".CustomNailColorActivity" />
        <activity android:name=".CustomNailDetailsActivity" />
        <activity android:name=".CustomNailReviewActivity" />
        <activity android:name=".BookingAppointmentActivity" />
        <activity android:name=".EditProfileActivity" />
        <activity android:name=".SettingActivity" />

    </application>
</manifest>